.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
  width: 7%;
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: .5rem;
}

.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(70%);
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);
  width: 500px;
}


.card__image:hover{
  filter: contrast(100%);
}


.card__title {
  color: #696969;
  font-size: .7rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.card__info {
  color: #696969;
  font-size: .5rem;
  font-weight: 300;
  letter-spacing: 2px;
}

.card__text, .card__detail p {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}

.card__detail {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.card__detail p {
  text-align: center;
}

.card__detail button{
  text-align: center;
}

.container {
  padding: 1rem;
  width: stretch;
  height: auto;
}

@media(max-width: 700px){
  .cards__item{
    width: 50%;
  }
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.add-pic-form {
  width: 80%
}

.buttonContainer {
  text-align: left;
  padding: 1rem;
}
.add-tag-dropdown{
  width: 30%
}

.card_button {
  width: 70px;
}
/* .edit {
  width: 80px;
} */

.card_button_container{
  justify-content: center;
  display: flex;
  flex-wrap: wrap
}

a:link {
  color: #0e9aa7;
}

/* visited link */
a:visited {
  color: #fe8a71;
}

.logo {
  display: block;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  filter: grayscale(25%);
}

.navbar {
  background-color: aliceblue;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;

}

.Link:hover {
   background-color: #faf0af;
   transition-duration: 1s;
 }
/* .submit {
  position: relative;
  background-color: #e04b52;
  border-radius: 5px;
  height: 2rem;
  width: max-content;
  color: whitesmoke;
  font-size: 18px;
  justify-self: center;
  font-family: monospace;
  margin: 3px;
} */
