.cards {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.card {
  min-width: 70px;
  min-height: 85px;
  padding: 13px;
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.exchCards {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.side_by_side_Card {
  background-color: white;
  border-radius: 0.25rem;
  display: flex;
  overflow: hidden;
  flex-direction: row;
}

.exchCards_item {
  display: flex;
  padding: 1rem;
  width: 30%;
}

.cards_item {
  display: flex;
  padding: 1rem;
  width: 7%;
}

.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: .5rem;
  /* overflow: scroll */
}

.exchCard__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(70%);
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);
  min-width: 150px;
  max-width: 150px;
  min-height: 150px;
  max-height: 150px;
}

.exchCard__image:hover{
  filter: contrast(100%);
}

.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(70%);
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);
  width: 500px;
}
.card__image:hover{
  filter: contrast(100%);
}
.show_page_card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  overflow: hidden;
  position: relative;
  width: 500px;
}

.card__title {
  color: #696969;
  font-size: .9rem;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.card__info {
  display: flex;
  flex-direction: column;
  color: #696969;
  font-size: .8rem;
  font-weight: 300;
  letter-spacing: 2px;
}

.showPage__title {
  justify-content: center;
  display: flex;
  color: #696969;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.showPage__info {
  display: flex;
  flex-direction: column;
  color: #696969;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 2px;
}

.card__text, .card__detail p {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}

.card__detail {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.center {
  justify-content: center;
  display: flex;
}

.card__detail p {
  text-align: center;
}

.card_detail_button{
  text-align: center;
}

.container {
  padding: 1rem;
  width: stretch;
  height: auto;
}

@media(max-width: 700px){
  .cards__item{
    width: 50%;
  }
}

h1 {
   text-align: center;
   font-family: Impact;
   color: #696969;
}

strong {
   font-family: Impact;
}
img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.buttonContainer {
  text-align: left;
  padding: 1rem;
}
.add-tag-dropdown{
  width: 30%
}

.card_button {
  justify-content: center;
  display: flex;
  background-color: #febf63;
  color: white;
  border: solid;
  cursor: pointer;
  opacity: 0.9;
  width: 150px;
  font-size: 1rem;
}

.card_button_container{
  justify-content: center;
  display: flex;
  flex-wrap: wrap
}

a:link {
  text-decoration: none;
  font-family: Impact;
  color: #0e9aa7;
}

/* visited link */
a:visited {
  color: #3282b8;
}

.logo {
  display: block;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  filter: grayscale(25%);
}

.navbar {
  min-height: 25px;
  background-color: aliceblue;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;

}

.Link:hover {
   text-align: center;
   background-color: #f3ecc2;
   transition-duration: 1s;
 }

 .center-form {
  background: #f1f1f1;
  max-width: 360px;
  margin: 0 auto 25px;
  margin-top: 2%;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

 input[type=text]:focus, input[type=password]:focus {
  position: relative;
  background-color: #ddd;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=text], input[type=password], input[type=username]{
 position: relative;
 width: 100%;
 padding: 12px 20px;
 margin: 8px 0;
 box-sizing: border-box;
}

.render100_button {
  background-color: #febf63;
  color: white;
  padding: 14px 75px;
  margin: 8px 0;
  border: solid;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
}

.comment_container{
  margin-left: 10px;

}

.comment_box{
  border: solid;
  border-color: #D6DBDF;
  width: 500px;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.comment_user_name{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: medium;
  font-weight: bold

}
.comment_timestamp{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #808080

}
.comment_text{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: large;
}
.comment_post_box{
  width: 500px;
  height: 50px;
}
